.auth-wrapper{
    display: flex;
    gap: 32px;
}
.auth-image-col{
    flex: 2;
    
}
.auth-form{
    flex: 1;
    border: 2px solid ;
    padding: 32px;
    border-radius: 16px;
}
.login-img{
    max-width: 640px;
    width: 100%;
}